ASTRALINK_HTTP_ADDR=0.0.0.0:9000
ASTRALINK_AUDIO_ADDR=0.0.0.0:9001
ASTRALINK_TOKEN=changeme

ASTRALINK_SPOTIFY_CLIENT_ID=
ASTRALINK_SPOTIFY_CLIENT_SECRET=
ASTRALINK_SOUNDCLOUD_CLIENT_ID=

ASTRALINK_PROXIES=
ASTRALINK_IPV6_DETECTION=false

